@charset "UTF-8";

.header {
    position: relative;
}

.header_logo {
    transform: translate(2vw, -4vw);
    width: 20%;
    height: auto;
}

@media print, screen and (max-width: 768px) {
    .header_logo {
        transform: translateY(-6vw);
        width: 60%;
        height: auto;
    }
}

.icon-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3%;
}

@media print, screen and (min-width: 768px) {
    .icon-list {
        transform: translateY(-10vh);
    }
}

.icon-list li {
    font-size: 30px;
    padding: 10px;
}

@media print, screen and (max-width: 768px){
    .icon-list li {
        font-size: 20px;
    }
}

.img_news {
     width: 10%; 
     height: auto; 
     padding: 10px;
}

@media screen and (max-width: 768px){
    .img_news {
        width: 20%;
    }
}

.news1 {
    width: 270px;
    height: 540px;
    margin: 20px;
    display: inline-block;
    border-bottom: 1px solid #000;
}

.news2 {
    width: 270px;
    height: 540px;
    margin: 20px;
    display: inline-block;
    vertical-align: top;
    border-bottom: 1px solid #000;
}