@charset "UTF-8";

.header {
    position: relative;
}

.header_logo {
    transform: translate(2vw, -4vw);
    width: 20%;
    height: auto;
}

@media print, screen and (max-width: 768px) {
    .header_logo {
        transform: translateY(-6vw);
        width: 60%;
        height: auto;
    }
}

.icon-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3%;
}

@media print, screen and (min-width: 768px) {
    .icon-list {
        transform: translateY(-12vh);
    }
}

.icon-list li {
    font-size: 30px;
    padding: 10px;
}

@media print, screen and (max-width: 768px){
    .icon-list li {
        font-size: 20px;
    }
}

main {
    font-family: "Zen Maru Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

.img_news {
     width: 10%; 
     height: auto; 
     padding: 10px;
}

@media screen and (max-width: 768px){
    .img_news {
        width: 20%;
    }
}

.news {
    font-size: 1.1rem;
    text-align: left;
    display: flex;
}

.news_top {
    display: flex;
}

.news1 {
    width: 270px;
    height: 520px;
    margin: 20px;
    display: inline-block;
    border-bottom: 1px solid #000;
}

.news2 {
    width: 270px;
    height: 520px;
    margin: 20px;
    display: inline-block;
    border-bottom: 1px solid #000;
}

@media screen and (max-width: 768px) {
    .news1, .news2 {
        width: 40vw;
        height: 50vh;
        font-size: 75%;
    }
    .news {
        flex-direction: column;
    }
}

.date_news {
    position: absolute;
    transform: translate(0,300%);
}

@media screen and (max-width: 768px) {
    .date_news {
        transform: translate(0,650%);
    }
}

.latest_info {
    width: 50vw;
    height: auto;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    text-align: right;
    float: right;
    transform: translateY(-10vh);
}

.latest_info::before {
    content: url(../img/icon_ig.svg);
}

@media screen and (max-width: 768px) {
    .latest_info {
        font-size: 12px;
        border: 1px solid #000;
        margin: 0 auto;
        width: 60vw;
        text-align: center;
        transform: translate(-20vw, 3vh);
    }
}

.about_container {
    width: 70vw;
    margin: 15vh auto 0;
    font-size: 1.3rem;
    line-height: 2rem;
    display: block;
    font-family: "Zen Maru Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

@media screen and (max-width: 768px) {
    .about_container, .about_title1, .about_content {
        width: 80vw;
        font-size: 0.8rem;
    }
}

.about_title {
    display: block;
}

.about {
    margin: 10vh auto;
    font-size: 1.1rem;
    display: flex;
}

@media screen and (max-width: 768px) {
    .about {
        display: block;
    }    
}

.about_title1 {
    width: 10vw;
    height: auto;
    padding: 0 20px 0 0;
    font-weight: bold;
    text-align: start;
}

.about_content {
    font-weight: 500;
}

.img_tea {
    width: 50vw;
    height: 75vh;
    object-fit: cover;
    overflow: hidden;
    margin: 10vw 10vw 0;
    float: left;
}

.ltr_tea {
    width: 15vw;
    height: auto;
    transform: translate(-60vw, 25vh);
}

.exp_tea {
    width: 30vw;
    height: 50vh;
    line-height: 2rem;
    font-weight: bold;
    clear: both;
    padding: 5% 3%;
    transform: translate(53vw, -65vh);
    background-color: #fff;
}

.img_scone {
    width: 50vw;
    height: 75vh;
    object-fit: cover;
    overflow: hidden;
    margin: 0 10vw;
    float: right;
}

.ltr_scone {
    width: 10vw;
    height: auto;
    transform: translate(80vw, 5vh);
}

.exp_scone {
    width: 30vw;
    height: 50vh;
    line-height: 2rem;
    font-weight: bold;
    clear: both;
    padding: 5% 3%;
    transform: translate(20vw, -65vh);
    background-color: #fff;
}

@media screen and (max-width: 768px) {
    .img_tea, .img_scone {
        width: 90vw;
        height: auto;
        float: none;
        clear: both;
        margin: 0 auto;
    }

    .ltr_tea {
        width: 30vw;
        height: auto;
        transform: translate(5vw, -40vh);
    }

    .ltr_scone {
        width: 20vw;
        height: auto;
        transform: translate(65vw, -40vh);
    }
    
    .exp_tea, .exp_scone {
        width: 90vw;
        transform: none;
    }
}

.feature_title {
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
}

.feature {
    display: block;
}

.img_feat1 {
    width: 45vw;
    height: auto;
    margin: 5vw 12vw 0;
    float: left;
}

.feat1_exp {
    width: 25vw;
    height: auto;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.5rem;
    transform: translate(-9vw, 13vh);
}

.img_feat2 {
    width: 45vw;
    height: auto;
    margin: 10vh 12vw;
    float: right;
}

.feat2_exp {
    width: 25vw;
    height: auto;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.5rem;
    transform: translate(-55vw, 58vh);
}

@media screen and (max-width: 768px) {
    .feature_title {
        font-size: 1.2rem;
        margin: 20px;
    }

    .img_feat1, .img_feat2 {
        width: 90vw;
        margin: 0 auto;
        float: none;
        transform: none;
    }

    .img_feat {
        text-align: center;
    }

    .feat1_exp {
        width: 90vw;
        height: auto;
        font-size: 0.8rem;
        transform: none;
        float: left;
        margin: 20px;
    }

    .feat2_exp {
        width: 90vw;
        height: auto;
        font-size: 0.8rem;
        transform: none;
        float: left;
        margin: 20px;
    }
}

.recipe_top {
    width: 10vw;
    height: auto;
    padding: 10vh 0 0;
    margin: 10vh auto ;
}

.recipe_title {
    width: 60vw;
    height: auto;
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
}

.recipe_content {
    display: flex;
}

.recipe_colum {
    width: auto;
    height: auto;
    font-size: 20px;
    padding: 10px;
    margin: 10vh 5vw;
    font-weight: bold;
    display: inline-block;
    justify-content: center;
    writing-mode: vertical-rl;
    border-top: 6px solid #000;
}

.recipe_span {
    font-size: 40px;
}

.recipe_list_container {
    width: 85vw;
    height: auto;
    overflow: scroll;
    margin: auto;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 2rem;
}

.recipe_list_content {
    display: flex;
}

.recipe_list {
    width: 25vw;
    height: auto;
    display: inline-block;
    margin: 10vh 3vw 0 0;
}

.img_recipe {
    width: 25vw;
    height: auto;
    margin: 10vh 3vw 0 0;
}

.recipe_exp {
    width: 25vw;
    height: auto;
}

@media screen and (max-width: 768px) {
    .recipe_top {
        width: 25vw;
        height: auto;
        margin: 20vh auto;
        transform: translateY(16vh);
    }

    .recipe_title {
        font-size: 18px;
    }

    .recipe_colum {
        font-size: 12px;
        justify-content: center;
    }

    .recipe_span {
        font-size: 24px;
        margin: 0 5px;
    }

    .recipe_list_container {
        width: 80vw;
        line-height: 1.3rem;
        margin: 0 auto 20vh;
    }

    .recipe_list {
        width: 70vw;
    }

    .img_recipe {
        width: 70vw;
        height: auto;
        margin: 10vh 8vw 0 0;
    }

    .recipe_exp {
        width: 70vw;
    }
}

@media screen and (min-width: 768px) {
    .br-title {
        display: none;
    }
}

.shop-information_container {
    display: block;
}

.cafe_container {
    display: flex;
}

.shop-information_title {
    width: 30vw;
    height: auto;
    margin: 10vh 35vw;
}

.img_shop-information {
    width: 50vw;
    height: auto;
    margin: 0 5vw;
    display: inline-block;
    flex-shrink: 0;
}

.shop-information_cafe {
    width: 5vw;
    height: auto;
    margin: 2vh auto;
}

.shop-information_exp {
    width: 30vw;
    height: auto;
    display: inline;
    font-size: 15px;
    font-weight: bold;
    line-height: 2rem;
}

.latest_info1 {
    width: 20vw;
    height: auto;
    padding: 2.5vh 5vw;
    margin: 0 auto;
    border: 1px solid #000;
    text-align: center;
    float: left;
}

.latest_info1::before {
    content: url(../img/icon_ig.svg);
}

@media screen and (max-width: 768px) {
    .shop-information_container {
        position: relative;
        display: block;
    }

    .img_shop-information {
        width: 100%;
        height: auto;
        display: block;
    }

    .shop-information_cafe{
        width: 20vw;
    }

    .shop-information_exp {
        width: 90vw;
        height: auto;
        margin: 0 auto;
        display: block;
        position: absolute;
        top: 70vh;
        left: 5vw;
    }
    
    .latest_info1 {
        width: 60vw;
        height: auto;
        font-size: 10px;
        padding:5px 20px;
        margin-top: 20px;
        float: none;
    }
}