@charset "UTF-8";
body {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
    font-weight: bold;
    font-size: 3vw;
}

.title {
    margin: 7vw 7vw;
    font-weight: bold;
    font-size: 2.5vw;
    line-height: 4.0vw;
}

.lead {
    margin: 7vw;
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    gap: 1.0vw;
    margin: 1.5vw;
}

h2 {
    width: 20vw;
    height: 30vw;
}

.content {
    width: 80vw;
    height: 30vw;
    font-size: 2.5vw;
    line-height: 3.0vw;
}

@media (max-width: 768px) {
    .item {
        display: flex;
        flex-direction: column;
        vertical-align: middle;
    }

    h2 {
        height: 5vw;
    }
}
