@charset "UTF-8";

/* リセットcss */
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

body {
    line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: 700
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

body * {
    box-sizing: border-box;
}

/* ここまで リセットcss */

img {
    width: 100vw;
    height: auto;
}

html {
  color: #000;
  font-size: 62%;
  height: 100%;
}

body {
  font-family: "Zen Maru Gothic", "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-weight: 500;
  font-size: 160%;
  line-height: 2;
  height: 100%;
  overflow-x: hidden;
}

a {
  color: #000;
  text-decoration: underline;
}

a:visited {
  color: #000;
  text-decoration: none;
}

.text-1 {
    font-size: 1.4rem;
}

.text-2 {
    font-size: 1.6rem;
    padding-bottom: 24px;
}

.heading02 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.heading03 {
    margin-bottom: 1rem;
    font-size: 1.7rem;
}

.header {
    position: relative;
    margin-bottom: 128px;
}

.head-logo {
    width: 256px;
    height: auto;
    position: absolute;
    bottom: 16px;
    left: 32px;
}

.head-btns {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 16px;
    right: 32px;
}

.head-btns a span {
    display: block;
    width: 32px;
    height: 32px;
}

.head-btns span::before {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
}

.head-btns-shop span::before {
    background-image: url(img/icon_cart.svg);
}

.head-btns-instagram span::before {
    background-image: url(img/icon_ig.svg);
}

.head-btns-shop, .head-btns-instagram {
    margin-right: 32px;
}

.head-btns-menu span::before {
    background-image: url(img/icon_menu.svg);
}

.news-title {
    display: flex;
    justify-content: space-between;
    padding: 0 64px;
}

.news-img {
    width: 96px;
}

.news-instagram-pc {
    display: flex;
    width: 192px;
    height: 32px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.news-instagram-pc p {
    margin: 0;
    display: flex;
    align-items: center;
}

.news-instagram-pc p::before {
    content: "";
    background-image: url(img/icon_ig.svg);
    width: 24px;
    height: 24px;
    margin-right: 8px;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.news-articles {
    display: flex;
    padding: 64px 64px;
}

.news-tea {
    width: 256px;
    margin-right: 64px;
}

.news-tea-img {
    width: 100%;
    height: auto;
}

.news-link {
    margin-bottom: 16px;
    font-size: 1.8rem;
}

.news-date {
    border-top: 1px solid #000;
    display: flex;
    height: 4rem;
    align-items: center;
    font-size: 1.5rem;
}

.news-notion {
    width: 256px;
}

.news-notion-img {
    width: 100%;
    height: auto;
}

.news-instagram-sp {
    padding: 64px 0;
    position: relative;
}

.news-instagram-sp-btn {
    display: flex;
    width: 256px;
    height: 64px;
    border: 3px solid #000;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}

.news-instagram-sp-btn p {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-instagram-sp-btn p::before {
    content: "";
    background-image: url(img/icon_ig.svg);
    width: 24px;
    height: 24px;
    margin-right: 8px;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.about-head, .about-tea, .about-tempting {
    width: 60vw;
    margin-left: 20vw;
    margin-right: 20vw;
}

.about-head {
    margin-bottom: 64px;
}

.about-tea, .about-tempting {
    display: flex;
    position: relative;
    margin-bottom: 64px;
}

.about-tea-title, .about-tempting-title {
    width: 20%;
}

.about-tea-text, .about-tempting-text {
    width: 80%;
}

.product {
    margin-top: 128px;
    width: 100%;
    height: auto;
}

.product-ceylontea, .product-scone {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 96px;
}

.product-ceylontea-imgwrap {
    position: relative;
}

.product-ceylontea-title {
    width: 192px;
    height: auto;
    position: absolute;
    left: -3%;
    top: 8%;
}

.product-ceylontea-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 700px;
    min-height: 600px;
    display: block;
}

.product-ceylontea-textbox {
    width: 50%;
    max-width: 454px;
    max-height: 600px;
    display: block;
    background-color: #ffffff;
    padding: 8% 5%;
    position: relative;
    left: -5%;
    box-sizing: border-box;
}

.product-ceylontea-textbox h2 {
    font-size: 3.5rem;
}

.product-scone {
    flex-direction: row-reverse;
    margin-top: 96px;
}

.product-scone-imgwrap {
    position: relative;
}

.product-scone-title {
    width: 160px;
    height: auto;
    position: absolute;
    right: -5%;
    top: 8%;
}

.product-scone-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 700px;
    min-height: 600px;
    display: block;
}

.product-scone-textbox {
    width: 50%;
    max-width: 454px;
    max-height: 600px;
    display: block;
    background-color: #ffffff;
    padding: 8% 5%;
    position: relative;
    left: 5%;
    box-sizing: border-box;
}

.product-scone-textbox h2 {
    font-size: 3.5rem;
}

.feature {
    padding: 0 128px;
    margin-top: 64px;
    margin-bottom: 64px;
}

.feature-title {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
}

.feature-title h2 {
    font-size: 3.5rem;
}

.feature01, .feature02 {
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 80px;
    justify-content: center;
}

.feature01-img, .feature02-img {
    width: 65%;
    height: auto;
    max-width: 655px;
}

.feature01-textbox, .feature02-textbox {
    width: 35%;
    padding: 2% 5%;
    background-color: #ffffff;
    height: auto;
    line-height: 1.5;
}

.feature01-textbox h2, .feature02-textbox h2 {
    font-size: 2.5rem;
}

.recipe {
    margin-bottom: 128px;
}

.recipe-title {
    display: block;
    width: 128px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

.recipe-subtitle {
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 96px;
}

.recipe-list-wrap {
    display: flex;
}

.recipe-list-title {
    width: 96px;
    writing-mode: vertical-rl;
    border-top: 7px solid #000;
    margin-left: 48px;
    margin-right: 48px;
}

.recipe-list-title h2 {
    font-size: 3.5rem;
    margin-top: 1.5rem;
}

.recipe-list-title h3 {
    padding-top: 1.5rem;
}

.recipe-list {
    display: flex;
    width: 10000px;
    margin-top: 24px;
}

.recipe-list:hover {
    overflow-x: auto;
}

.recipe-list h2 {
    font-size: 2.5rem;
}

.recipe-list-factor {
    flex: 0 0 384px;
    margin-right: 48px;
}

.recipe-img {
    width: 100%;
    height: auto;
}

.shop {
    margin-bottom: 96px;
}

.shop-title {
    width: 424px;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
}

.shop-info {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 48px;
}

.shop-info-img {
    width: 40%;
    height: auto;
    display: block;
    max-width: 692px;
}

.shop-info-img img {
    width: 100%;
}

.shop-info-text {
    width: 60%;
    padding: 16px 64px;
    background-color: #ffffff;
    max-width: 600px;
    box-sizing: border-box;
}

.shop-info-cafe {
    width: 72px;
    height: auto;
}

.shop-info-table {
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    font-size: 1.3rem;
    margin-top: 16px;
    margin-bottom: 16px;
}

.shop-info-table tr {
    padding: 16px 16px;
    display: flex;
}

.shop-info-table th {
    text-align: center;
    display: block;
    width: 40%;
}

.shop-info-table td {
    display: block;
    width: 60%;
}

.shop-instagram-btn {
    display: flex;
    width: 320px;
    height: 80px;
    border: 1px solid #000;
    justify-content: center;
    text-decoration: none;
}

.shop-instagram-btn p {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-instagram-btn p::before {
    content: "";
    background-image: url(img/icon_ig.svg);
    width: 24px;
    height: 24px;
    margin-right: 8px;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.shop-online-wrap {
    padding: 0 72px;
    width: 100%;
    margin: 0 auto;
}

.shop-online {
    display: flex;
    width: 100%;
    max-width: 1136px;
    margin: 0 auto;
    border-top: 3px solid #000;
    justify-content: space-between;
}

.shop-online-textbox {
    padding: 36px 72px;
}

.shop-online-textbox img {
    width: 128px;
    height: auto;
    margin-bottom: 16px;
}

.shop-shop {
    width: 320px;
    height: 64px;
    margin-top: 72px;
    margin-right: 64px;
}

.shop-shop-btn {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    justify-content: center;
    text-decoration: none;
}

.shop-shop-btn p {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.shop-shop-btn p::before {
    content: "";
    background-image: url(img/icon_cart.svg);
    width: 24px;
    height: 24px;
    margin-right: 8px;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.contact {
    padding: 0 96px;
}

.contact-title {
    display: block;
    width: 180px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.form-container {
    display: flex;
    margin-bottom: 36px;
    justify-content: center;
}

.form-text {
    width: 25%;
    max-width: 256px;
}

.form-input {
    width: 75%;
    max-width: 744px;
    padding: 16px 6px;
    height: px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(img/select.svg);
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 16px 16px;
}

.form-privacy {
    width: 274px;
    margin: 0 auto;
    margin-bottom: 32px;
    text-align: center;
}

.form-submit {
    display: block;
    width: 320px;
    height: 64px;
    margin: 0 auto;
    background-color: #7f7f7f;
    text-align: center;
    line-height: 64px;
    color: #ffffff;
    font-size: 1.5rem;
    transition: all 0.4s ease;
}

.form-submit:hover {
    background-color: #f5f5f5;
    border: 1px solid #7f7f7f;
    color: #000;
}

.footer-img {
    display: block;
    margin: 0 auto;
    padding: 192px 0;
    width: 192px;
    height: auto;
}

@media screen and (max-width: 767px) {
    html {
        font-size: 45%;
    }

    .head-btns {
        transform: translate(0, 150%);
    }

    .news-instagram-pc {
        display: none;
    }

    .news-title {
        padding: 0 16px;
    }

    .news-articles {
        padding: 8px 8px;
    }

    .news-tea {
        margin-right: 16px;
    }

    .about-head, .about-tea, .about-tempting {
        width: 80vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .about-tea, .about-tempting {
        display: block
    }

    .about-tea-title, .about-tempting-title, .about-tea-text, .about-tempting-text {
        width: 100%;
    }

    .product-ceylontea, .product-scone {
        display: block;
        padding: 0 0;
    }

    .product-ceylontea-img, .product-ceylontea-textbox, .product-ceylontea-title, .product-scone-img, .product-scone-textbox, .product-scone-title {
        position: static;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        z-index: auto;  
    }

    .product-ceylontea-title, .product-scone-title {
        position: absolute;
        top: 2%;
    }

    .product-scone-title {
        right: 8%;
        width: 30%;
        height: auto;
    }

    .product-ceylontea, .product-scone {
        width: 80vw;
        left: 10vw;
        right: 10vw;
        position: relative;
        margin-bottom: 128px;
        min-height: 500px;
    }

    .product-ceylontea-img, .product-scone-img {
        width: 100%;
        height: 768px;
        max-width: none;
        min-height: none;
    }

    .product-ceylontea-textbox, .product-scone-textbox {
        width: 100%;
        height: auto;
        background-color: #ffffff;
        padding: 5% 5%;
    }

    .product-ceylontea, .product-scone {
        margin-bottom: 0;
    }

    .feature {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 0 0;
    }

    .feature-title h2 {
        font-size: 2rem;
    }

    .feature01 {
        display: block;
        margin-bottom: 0;
    }

    .feature01-img, .feature01-textbox, .feature02-img, .feature02-textbox {
        width: 100%;
    }

    .feature02 {
        display: flex;
        flex-direction: column-reverse;
    }

    .recipe-list-title {
        width: 96px;
        writing-mode: vertical-rl;
        border-top: 2px solid #000;
        margin-left: 16px;
        margin-right: 32px;
    }

    .recipe-subtitle {
        width: 100%;
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 32px;
    }

    .shop-title {
        margin-bottom: 48px;
        width: 284px;
    }

    .shop-info {
        display: block;
    }

    .shop-info-img {
        width: 100%;
        height: auto;
    }

    .shop-info-text {
        width: 100%;
        max-width: none;
        padding: 16px 32px;
    }

    .shop-info-cafe {
        width: 100px;
        height: auto;
        padding: 24px 0;
    }

    .shop-info-table {
        font-size: 1.7rem;
    }

    .shop-info-table th {
        width: 30%;
    }

    .shop-info-table td {
        width: 70%;
    }

    .shop-instagram-btn {
        width: 280px;
        height: 40px;
        margin: 0 auto;
    }

    .shop-instagram-btn p::before {
        width: 16px;
        height: 16px;
    }

    .shop-online {
        display: block;
        border-top: none;
    }

    .shop-online-wrap {
        padding: 0 32px;
    }

    .shop-online-textbox {
        padding: 0 0;
    }

    .shop-shop {
        width: 280px;
        height: 40px;
        margin: 0 auto;
    }

    .shop-shop-btn p {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
    }

    .shop-shop-btn p::before {
        width: 16px;
        height: 16px;
    }

    .contact {
        padding: 0 32px;
    }

    .form-container {
        display: block;
        margin-bottom: 16px;
    }

    .form-text {
        width: 100%;
        max-width: none;
    }

    .form-input {
        width: 100%;
        max-width: none;
    }

    .footer-img {
        display: block;
        margin: 0 auto;
        padding: 96px 0;
        width: 192px;
        height: auto;
    }
}

@media screen and (min-width: 768px), print {
    .sp-br {
        display: none;
    }

    .news-instagram-sp {
        display: none;
    }
}