@charset "UTF-8";

/* リセットcss */
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

body {
    line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: 700
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

body * {
    box-sizing: border-box;
}

/* ここまで リセットcss */

.hero-section {
    position: relative;
    width: 100%;
    padding-bottom: 66.6875%;
}

@media (max-width: 768px) {
    .hero-section {
        padding-bottom: 133.34%;
    }
}

.bg-image {
    position: absolute;
    width: 100%;
    z-index: 0;
    object-fit: cover;
}

.header-content {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    width: 224px;
    padding-bottom: 16px;
    z-index: 1;
}

@media (max-width: 768px) {
    .header-content {
        padding-top: 40px;
        transform: translate(-100%, 0);
        object-fit: cover;
        width: 40%;
    }
}

a {
    text-decoration: none;
}

.icon {
    display: flex;
}

.icon img {
    margin-right: 14.3%;
    width: 14.3%;
}

.logo {
    position: absolute;
    top: 100%;
    left: 64px;
    width: 30.2%;
    padding-bottom: 16px;
    transform: translate(0, -100%);
    z-index: 1;
}

@media (max-width: 768px) {
    .logo {
        left: 16px;
    }
}

main {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.news-section {
    position: relative;
    padding-right: 7.04%;
    width: 100%;
    margin-top: 145px;
    margin-left: 6.43%;
}

.news-img1 {
    position: absolute;
    width: 100px;
}

.wrapper1 {
    display: inline-block;
    position: absolute;
    height: 24px;
    line-height: 24px;
    right: 160px;
    font-size: 16px;
}

.wrapper1.down {
    position: relative;
    display: none;
}

@media (max-width: 768px) {
    .wrapper1.up {
        display: none;
    }

    .wrapper1.down {
        display: block;
        height: 56px;
        top: 130px;
        width: 60%;
        left: 46.756%;
        transform: translate(-50%, 0);
        text-align: center;
        border: solid 1px #000;
        font-size: 3vw;
    }


    .news-icon {
        width: 60%;
    }

    .news-icon>* {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

.news-icon {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    color: #000;
}


.wrapper1 img {
    width: 24px;
    margin-right: 8px;
}

.news-wrapper {
    position: relative;
    top: 100px;
    display: flex;
}

.news1,
.news2 {
    width: 256px;
    margin-right: 6.43%;
}

@media (max-width: 768px) {

    .news1,
    .news2 {
        width: 40%;
    }
}

.news-img2 {
    width: 100%
}

.big-text {
    position: relative;
    font-weight: 700;
    font-size: 20px;
    margin: 30px 0;
}

.little-text {
    position: relative;
    font-size: 14px;
    line-height: 2;
    margin: 30px 0;
}

.detail {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    text-decoration: underline;
    color: #000;
}

.line {
    margin-top: 30px;
    margin-bottom: 10px;
    height: 1px;
    background-color: #000;
}

.date {
    font-size: 14px;
    font-weight: 700;
}

.about div {
    height: 600px;
}