@charset "UTF-8";

@media (max-width:599px){
    .header{
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 32px;
        box-sizing: border-box;
        height: 830px;
        position: relative;
        background: url('./img/header/hd_img01_a_sp.jpg') center/cover no-repeat;
        background-size: 100% 100%;
    }

    img.logo{
        left: 50px;
    }

    .header-right {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 10px;
        bottom: -32px;
        right: 0px;
    }

    .header img{
        height: 20px;
        object-fit: contain;
        margin: 10px;   
    }
}

@media (min-width:600px) {
    .header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 32px;
        box-sizing: border-box;
        height: 830px;
        position: relative;
        background: url('./img/header/hd_img01_a.jpg') center/cover no-repeat;
        background-size: 100% 100%;
    }

    img.logo{
        left: 50px;
    }

    .header-right {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .header img{
        height: 32px;
        object-fit: contain;
        margin: 10px;   
    }
}

@media (max-width:599px){}
@media (min-width:600px){
    .news {
        position: relative;
    }
    img.news_ttl {
        position: absolute;
        width: 8vw;
        top: 8vw;
        left: 5vw;   
    }
    .news-logo::before{
        content: url(./img/icon_ig.svg);
        vertical-align: middle;
        margin: 1vw;
    }
    .news-logo{
        position: absolute;
        top: 8vw;
        right: 5vw;   
    }
    .news-notion{
        position: absolute;
        object-fit: cover;
        width: 250px;
        height: 250px;
        top: 12vw;
        left: 32vw;
    }
    .news-tea{
        position: absolute;
        object-fit: cover;
        width: 250px;
        height: 250px;
        top: 12vw;
        left: 5vw;
    }
    .tea-article{
        position: absolute;
        top: 32vw;
        left: 5vw;
        display: block;
    }
}

